$font-size-root: 10px;
$body-font-size: 1.8rem;
$lead-font-size: calc(2rem + 0.1vw);
$lead-font-weight: inherit;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
$spacer: 2rem;
$logo-color-1: #edd6a0;
$logo-color-2: #da7b27;
$logo-color-3: #d45727;
$logo-color-4: #0f2d2f;
$logo-color-5: #2e7d77;
$logo-color-6: #3ba39c;
$logo-color-7: #65b6b0;
$primary-color: #088ea2;
$secondary-color: #fc723c;//58bba4;
$highlight-color: #0f2d2f;//e97435;
$hover-color: lighten($primary-color, 10%);
$alert-color: #850017;

@import "../scss/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.min.css";
@import "../scss/bootstrap-utilities.scss";
@import "../scss/_type.scss";
@import "../scss/_buttons.scss";
@import "../scss/_modal.scss";
@import "../scss/_close.scss";
@import "../scss/_tables.scss";
@import "../scss/_transitions.scss";

@import "menu.css";

// Mixins //

@mixin fill-color($color: $logo-color-3) {
  background-color: $color;
  border-color: $color;
  color: white;
}

@mixin underline-hover($color: $secondary-color) {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: $color;
}

// Base //

html {
  height: 100%;
  scroll-padding-top: 60px;
}

body {
  height: 100%;
  font-family: $body-font;
  color: darken($primary-color, 7%);
  font-size: $body-font-size;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction:  column;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  flex: 1 0 auto;
}

.row {
  margin: 0;
}

// Headings and text //

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
  font-weight: 700;
}

h1, .h1 {
  font-size: calc(2.5rem + 1vw);
  margin-bottom: 3rem;
}

h2, .h2 {
  font-size: calc(2.25rem + 0.5vw);
}

h3, .h3 {
  font-size: calc(2rem + 0.5vw);
}

h4, .h4 {
  font-size: calc(1.8rem + 0.25vw);
}

h5, .h5 {
  font-size: calc(1.6rem + 0.25vw);
}

h6, .h6 {
  font-size: calc(1.4rem + 0.25vw);
}

p {
  margin-bottom: 2rem;
}

.text-sm {
  font-size: 1.4rem;
}

// Links and buttons //

a {
  display: inline-block;
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    @include underline-hover($hover-color);
  }

  &:before {
    display: block;
    font-weight: 600;
    content: attr(data-text);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &.btn {
    display: inline-block;
    
    &:hover {
      text-decoration: none;
    }
  }
}

button, .btn, input[type="submit"] {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    @include fill-color();
  }
  
  &.highlight {
    background-color: $highlight-color;
    border: none;

    &:hover {
      background-color: darken($highlight-color, 8%);//#b03e28;
    }
  }
  
  &.sm {
    font-weight: 400;
    border-width: 1px;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
  }
  
  &.cta {
    margin-top: calc(2rem + 1vw);
    font-size: $lead-font-size;
  }
  
  .row:hover > div > .btn.edit {
    display: inline-block;
  }
  
  &.alert {
    color: $alert-color;
    border-color: $alert-color;
    background-color: transparent;

    &:hover {
      background-color: $alert-color;
      border-color: $alert-color;
      color: white;
    }
  }
}

.btn.clr {
  background-color: transparent;
  border-color: white;
}

.btn.sec {
  color: $secondary-color;
  border-color: $secondary-color;
  background-color: transparent;
  width: fit-content;

  &:hover {
    @include fill-color($secondary-color)
  }
}

// Inputs //

input, textarea {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 100%;
  outline: none;
  color: $primary-color;

  &:focus {
    border-bottom: 1px solid $secondary-color;
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;

  + label {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      border-radius: 3px;
    }
  }

  &:checked {
    + label::before {
      background-color: $primary-color;
    }

    + label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      height: 8px;
      width: 12px;
      transform: rotate(-45deg);
    }
  }

  &:focus + label::before {
    box-shadow: 0 0px 8px $primary-color;
  }
}

input[type='radio'] {
  opacity: 0;
  width: 0;

  + label {
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: -2.2rem; /* This will be adjusted */
      top: 0.1rem;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -1.7rem;
      top: 0.6rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }

  &:checked {
    + label::after {
      background: $primary-color;
    }
  }

  &:focus {
    + label::before {
      box-shadow: 0 0px 8px $primary-color;
    }
  }
}

.radio-wrapper {
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.radio-set-label {
  display: inline-block;
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

select {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

// Styling for dark backgrounds //

.inverse {
  color: white;
  
  a {
    color: white;

    &:hover {
      font-weight: 600;
      @include underline-hover();
      
      svg {
        color: $secondary-color;
      }
    }

    &.btn:hover {
      text-decoration: none;
    }
  }

  button, .btn, input[type="submit"] {
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      @include fill-color();
    }
  }
}

#creatorsweb {
  font-weight: 600;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

div.message {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: $logo-color-4;
  background-color: lighten($logo-color-4, 75%);
  border-color: lighten($logo-color-4, 75%);

  &.error {
    color: $alert-color;
    background-color: lighten($alert-color, 70%);
    border-color: lighten($alert-color, 70%);
  }

  a {
    text-decoration: underline;
    white-space: nowrap;
  }
}

.title-margin {
  padding-top: calc(2rem + 3vw);
}

#contact {
  position: relative;
}

// Nav //

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $primary-color;
  z-index: 100;
}

#nav-img {
  height: 36px;
  margin: 12px 0;
  max-width: 100%;
}

#menu-title {
  padding-top: 2px;
}

#menu-btn {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0 17px auto;
  color: white;
  text-decoration: none;
}

#menu-btn:hover, #menu-btn:focus {
  text-decoration: none;
}

#menu-icon {
  height: 26px;
  padding-left: 15px;
  cursor: pointer;
}

.drawer__header {
  background-color: $primary-color;
  padding: 0.65rem 2rem;
}

.menu-close {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $secondary-color;
  }
}

.drawer__content {
  background-color: $primary-color;

  a {
    display: inline;
  }
}


.menu-link {
  height: 60px;
  border-bottom: 1px solid white;
  color: white;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }

  p {
    padding: 1.7rem;
    cursor: pointer;
  }
}

.footer {
  flex-shrink: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: $primary-color;
  color: white;
  margin-top: 11rem;
}

// Home page

#home-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.webp) center center no-repeat;
}

#vessels {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.webp) center bottom no-repeat;
}

#home-1, #vessels {
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// Mobile backgrounds //
@media screen and (max-width: 575px) {
  #home-1, #vessels {
    background-attachment: scroll;
  }
}

#home-logo {
  position: relative;
  display: block;
  margin: 3rem;
  height: calc(8rem + 3vw);
}

#home-title {
  margin-top: 10rem;
  font-family: 'Rock Salt', 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: calc(1.8rem + 3vw);
}

#home-tagline {
  margin-top: 2rem;
  font-size: calc(1.75rem + 1vw);
  font-weight: 700;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;

  li {
    list-style: none;
  }
  
  a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: calc(5rem + 2vw) 0;
    text-transform: uppercase;;

    &:hover, &:focus {
      @include underline-hover();
      font-weight: 600;
    }
  }
}

#vid-toggle {
  border: 2px solid var(--dynamic-color);
  width: fit-content;
  margin: calc(3rem + 2vw) 0;
  padding: 6px;
  border-radius: 9px;
  opacity: 0.75;

  &:hover {
    cursor: pointer;
    opacity: 1;

    #pause-play {
      opacity: 1;
    }
  }
}

#pause-play {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 12px;
  border-color: transparent transparent transparent var(--dynamic-color);
  transition: 0.1s;

  // pause button while playing
  border-style: double;
  border-width: 0px 0 0px 10px;

  // play button while paused
  &.paused {
    border-style: solid;
    border-width: 6px 0 6px 10px;
  }
}

.home-section {
  min-height: 100vh;
  overflow: auto;
  padding-top: calc(3rem + 2vw);

  &.end {
    min-height: calc(100vh - 30rem);
  }
}

#weather-container {
  position:fixed;
  right: -220px;
  bottom: 0;
  transition: right 0.3s;

  &:hover {
    right: 0;
  }
  
}

.weatherwidget-io {
  width: 220px;
  border-radius: 10px;
  border: 1px solid white;
}

#weather-tab {
  position: fixed;
  bottom: 111px;
  right: -74px;
  background-color: #1b8db4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid white;
  transform: rotate(-90deg);
  padding: 0.5rem 1rem;
}

.home-next {
  display: table;
  margin: calc(1rem + 1vw) auto 3rem;
  text-align: center;

  h4 {
    font-weight: 400;
  }

  &:hover {
    a {
      text-decoration: none;
    }
    h4 {
      font-weight: 600;
    }
    svg {
      color: $hover-color;
    }
  }
}

.bi-chevron-down {
  font-size: 1rem;
}

#video-link {
  cursor: pointer;

  &:hover {
    #play-video {
      border-color: $hover-color;
    }
  }
}

#play-video {
  display: inline-block;
  line-height: 32px;
  padding: 0.75rem 0.65rem 0.75rem 0.75rem;
  border: 2px solid $secondary-color;
  border-radius: 25%;
  width: fit-content;
  cursor: pointer;  
}

#play-icon {
  height: 0;
  width: 0;
  border-left: 14px solid $secondary-color;
  border-top:  8px solid transparent;
  border-bottom: 8px solid transparent;
}

#video-modal .modal-header {
  border-bottom: 0;
}

.modal-fullscreen .modal-content {
  border-radius: 4px;
}

.btn-close {
  --bs-btn-close-bg: none;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #aaa;
  opacity: 1;

  &:hover {
    color: $secondary-color;
  }
}

// Items

.item-img-div {
  display: flex;
  height: 75%;
  padding: 3rem;
  margin-bottom: 2rem;
}

// About page //

.profile-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto 2rem;
  max-height: 155px;
}

.white {
  color: white;
}

.semibold {
  font-weight: 600;
}


// Admin pages

.collapsed {
  height: 0px;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.item-img-sm {
  max-width: 33%;
  width: auto;
  height: fit-content;
  max-height: 10rem;
  margin-bottom: 2rem;
}