{% extends 'base.html' %}

{% block content %}
  <h1>Edit item</h1>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      {{ form.name }}
    </p>
    <p>
      {{ form.description.label }}
      {{ form.description }}
    </p>
    <p>
      {{ form.price.label }}
      {{ form.price }}
    </p>
    <div class="d-flex">
      <img src="{{ url_for('static', filename='img/items/') }}{{ item.image_path }}" class="item-img-sm">
      <div class="mb-3 ms-md-2 flex-grow-1">
        {{ form.image_path.label(class="ms-2") }}
        {{ form.image_path(class="ms-2", accept="image/*") }}
      </div>
    </div>
    <p>
      {{ form.category_id.label }}
      {{ form.category_id }}
    </p>
    <p>
      {{ form.status.label }}
      {{ form.status }}
    </p>

    <label for="order">Reorder (Items with lowest numbers are displayed first)</label>
    {{ form.order }}
    
    <div class="row">
      <div class="col-8">
        {{ form.save }}
      </div>
      <div class="col-4">
        <a class="btn alert w-100" data-bs-toggle="modal" 
            data-bs-target="#delete-modal" data-text="delete">
          Delete
      </a>
      </div>
      <div class="col-12 text-center">
        <a href="{{ url_for('items') }}" class="btn sm sec">
          Item list
        </a>
      </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="container-fluid">
            <div class="row">
              <div class="modal-header pb-0">
                <h1 class="modal-title">Are you sure?</h1>
              </div>
            </div>
            <div class="modal-body">
              <button class="btn alert d-inline me-2" type="submit" name="delete">Delete {{ item.name.title() }}</button>
              <a class="btn d-inline-block" data-bs-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}