{% extends 'base.html' %}

{% block alerts %}
  {{ super() }}
  {% for field, errors in category_form.errors.items() %}
    {% for e in errors %}
      <div class="message error">{{ e }}</div>
    {% endfor %}
  {% endfor %}


  


  
{% endblock alerts %}
 
{% block content %}
  <div>
    <button id="add-faq" class="btn d-inline-block me-2 mt-0">Add FAQ</button>
    <button id="add-category" class="btn sec d-inline-block me-2 mt-0">Add category</button>
  </div>

  <form id="add-faq-form" class="collapsed" action="{{ url_for('new_faq') }}" method="post">
    <h1 class="mb-3 me-3 d-inline-block">Add FAQ</h1>
    <a class="hide-form" href="#">Hide</a>
    {{  form.hidden_tag() }}
    {{  form.question }}
    {{  form.answer }}
    <p>
      {{  form.category_id.label(class="ms-2") }}
      {{  form.category_id(class="mt-2") }}
    </p>
    {{  form.order(class="d-none") }}
    {{  form.save }}
  </form>

  <form id="add-category-form" class="collapsed" action="{{ url_for('new_faq_category') }}" method="post">
    <h1 class="mb-3 me-3 d-inline-block">Add category</h1>
    <a class="hide-form" href="#">Hide</a>
    {{ category_form.hidden_tag() }}
    {{ category_form.name }}
    {{ category_form.order(class="d-none") }}
    {{ category_form.save }}
  </form>


  {% for c in categories %}
    <h1 class="slide-toggle my-3">
      <a href="{{ url_for('edit_faq_category', id=c.id) }}" class="category-name">
        {{ c.name.title() }}
      </a>
    </h1>
    <div id="{{ c.name.replace(' ','-') }}" class="faq-list">
      {% for i in faqs %}
        {% if i.category_id == c.id %}
          <div class="mb-2">
            <a class="fw-semibold" href="{{ url_for('edit_faq', id=i.id) }}">
              {{ i.question|safe }}
            </a><br>
            {{ i.answer|safe }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}  

  <div class="text-center">
    <a href="{{ url_for('admin') }}" class="btn sm sec">
      Back to admin
    </a>
  </div>
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    document.getElementById("add-faq").addEventListener("click", function () {
      this.parentElement.classList.add('d-none');
      slideDown(document.getElementById("add-faq-form"));
    });

    const hideButtons = document.querySelectorAll(".hide-form")
    hideButtons.forEach(e => {
      e.addEventListener("click", function () {
        slideUp(this.parentElement);
        document.getElementById("add-faq").parentElement.classList.remove('d-none');
      })
    });

    document.getElementById('add-category').addEventListener('click', function() {
      this.parentElement.classList.add('d-none');
      slideDown(document.getElementById('add-category-form'));
    })
  </script>
{% endblock end_scripts %}