{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block container %}
  <div id="vid-overlay"></div>
  <video id="welcome-vid" muted autoPlay playsInline poster="{{ url_for('static', filename='img/bg.webp') }}">
    <source src="{{ url_for('static', filename='media/lay-z-owl-pexels.webm')}}" type="video/webm">
  </video>

  <div id="home-1" class="inverse text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center message {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="message">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <nav class="row justify-content-center g-0">
      <div class="col-11 col-md-10">
        <div class="row justify-content-center">
          <div class="d-none d-md-block col-md-5 col-lg-6 col-xl-7">
            <img id="home-logo" class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
          </div>
          <div class="home-nav col col-md-7 col-lg-6 col-xl-5">
            <div><a href="#vessels" data-text="book now">book now</a></div>
            <div><a href="{{ url_for('faq') }}" data-text="faq">faq</a></div>
            <div><a href="#contact" data-text="contact">contact</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        <h1 id="home-title">Canoe Econfina!</h1>
        <h3>
          <!-- Come paddle down Econfina Creek and soak in the serenity of
          its crystal-clear freshwater cold springs. We are a canoe & kayak rental business with a shuttle service and over 30 years of happy customers! -->
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-11">
        <a href="#vessels" class="btn">
          Choose your Vessel
        </a>

        <div class="home-next">
          <a href="#home-2">
            <h4 class="lead">
              Explore Econfina Creek
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col offset-1">
        <div id="vid-toggle">
          <div id="pause-play"></div>
        </div>
      </div>
    </div>

    <div id="weather-container">
      <div id="weather-tab">Weather Forecast</div>
      <!-- <a class="weatherwidget-io" href="https://forecast7.com/en/30d37n85d44/youngstown/" data-mode="Forecast" data-theme="pure" data-accent="#fafafa" data-highcolor="#fc723c" data-lowcolor="#088ea2" data-suncolor="#fc723c" data-raincolor="#088ea2" ></a> -->
      <a class="weatherwidget-io" href="https://forecast7.com/en/30d37n85d44/youngstown/?unit=us" data-label_1="Econfina Creek Weather" data-mode="Forecast" data-theme="sky" data-basecolor="#0596ac" data-accent="#088ea2" data-highcolor="#ffa011" data-lowcolor="#90f8f3" data-suncolor="#ffa011" data-cloudfill="" data-raincolor="#90f8f3" ></a>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="home-2" class="home-section inverse">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Section 2 title</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro totam
        dignissimos unde doloribus corrupti voluptatibus laudantium explicabo expedita
        nemo, aperiam praesentium, dolore iste temporibus veritatis fugit perspiciatis
        possimus quaerat?</p>
        
        <a id="video-link" class="d-flex" data-bs-toggle="modal" data-bs-target="#video-modal">
          <div id="play-video">
            <div id="play-icon"></div>
          </div>
          <div class="align-self-center ms-3">Watch the video</div>
        </a>

        <div class="row">
          <div class="col position-relative">
            <div class="testimonials">
              {% for r in reviews %}
                <div class="lead">
                  {{ r.message }}<br>
                  &ndash; {{ r.name }}
                </div>
              {% endfor %}
            </div>

            <div id="controls-container">
                <svg class="chevron left" viewBox="0 0 1792 1792" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                  fill-rule="evenodd">
                    <g id="Group" fill-rule="nonzero">
                      <g class="circle">
                        <path d="M717,1267 L1171,813 C1183.66667,800.333333
                        1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                        1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                        C654.666667,250 639.666667,256.333333 627,269 L525,371
                        C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                        512.333333,448.333333 525,461 L832,768 L525,1075
                        C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                        512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                        654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                        717,1267 Z M1536,768 C1536,907.333333 1501.66667,1035.83333
                        1433,1153.5 C1364.33333,1271.16667 1271.16667,1364.33333
                        1153.5,1433 C1035.83333,1501.66667 907.333333,1536 768,1536
                        C628.666667,1536 500.166667,1501.66667 382.5,1433
                        C264.833333,1364.33333 171.666667,1271.16667 103,1153.5
                        C34.3333333,1035.83333 0,907.333333 0,768 C0,628.666667
                        34.3333333,500.166667 103,382.5 C171.666667,264.833333
                        264.833333,171.666667 382.5,103 C500.166667,34.3333333
                        628.666667,0 768,0 C907.333333,0 1035.83333,34.3333333
                        1153.5,103 C1271.16667,171.666667 1364.33333,264.833333
                        1433,382.5 C1501.66667,500.166667 1536,628.666667 1536,768 Z"
                        ></path>
                      </g>
                      <path class="arrow" d="M717,1267 L1171,813 C1183.66667,800.333333
                      1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                      1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                      C654.666667,250 639.666667,256.333333 627,269 L525,371
                      C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                      512.333333,448.333333 525,461 L832,768 L525,1075
                      C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                      512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                      654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                      717,1267 Z" id="Path"></path>
                    </g>
                  </g>
                </svg>
              
                <svg class="chevron right" viewBox="0 0 1792 1792" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                  fill-rule="evenodd">
                    <g id="Group" fill-rule="nonzero">
                      <g class="circle">
                        <path d="M717,1267 L1171,813 C1183.66667,800.333333
                        1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                        1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                        C654.666667,250 639.666667,256.333333 627,269 L525,371
                        C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                        512.333333,448.333333 525,461 L832,768 L525,1075
                        C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                        512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                        654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                        717,1267 Z M1536,768 C1536,907.333333 1501.66667,1035.83333
                        1433,1153.5 C1364.33333,1271.16667 1271.16667,1364.33333
                        1153.5,1433 C1035.83333,1501.66667 907.333333,1536 768,1536
                        C628.666667,1536 500.166667,1501.66667 382.5,1433
                        C264.833333,1364.33333 171.666667,1271.16667 103,1153.5
                        C34.3333333,1035.83333 0,907.333333 0,768 C0,628.666667
                        34.3333333,500.166667 103,382.5 C171.666667,264.833333
                        264.833333,171.666667 382.5,103 C500.166667,34.3333333
                        628.666667,0 768,0 C907.333333,0 1035.83333,34.3333333
                        1153.5,103 C1271.16667,171.666667 1364.33333,264.833333
                        1433,382.5 C1501.66667,500.166667 1536,628.666667 1536,768 Z"
                        ></path>
                      </g>
                      <path class="arrow" d="M717,1267 L1171,813 C1183.66667,800.333333
                      1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                      1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                      C654.666667,250 639.666667,256.333333 627,269 L525,371
                      C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                      512.333333,448.333333 525,461 L832,768 L525,1075
                      C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                      512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                      654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                      717,1267 Z" id="Path"></path>
                    </g>
                  </g>
                </svg>
            </div>
          </div>
        </div>
         
        

        <div class="text-center">
          <a class="btn mb-2" href="{{ url_for('faq') }}">
            Frequently asked questions
          </a>
        </div>
        <div class="home-next">
          <a href="#vessels">
            <h4>
              Paddle with us
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="video-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen p-5">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="modal-header">
            <span type="button" class="btn-close" data-bs-dismiss="modal">×</span>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="vessels" class="home-section inverse">
    <div class="mt-4 row justify-content-center">
      <div class="col-10 col-md-11 col-lg-10">
        <div class="row justify-content-center">
          <h1 class="mb-5">Choose your vessel</h1>
            
          {% for i in vessels %}
              <div class="mb-4 col-12 col-md-6">
                <div class="item-img-div">
                  <a href="{{ url_for('vessel_selected', id=i.booqable_id) }}">
                    <img class="img-fluid m-auto m-md-0 align-self-center" src="{{ url_for('static', filename='img/items') }}/{{ i.image_path }}">
                  </a>           
                </div>
                <h3 class="mb-0 me-2 text-center text-md-start d-inline-block">{{ i.name }}</h3>
                <span>{{ i.description }}</span>
                <p class="text-center text-md-start">${{ i.price }}</p>
              </div>
          {% endfor %}
        </div>
        <div class="home-next">
          <a href="#contact">
            <h4>
              Have a question?
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row">
      <div class="col-10 col-md-5 offset-1 mb-3">

        <h1>Visit us</h1>
        <p>
          <strong>
            <a href="https://maps.app.goo.gl/CJK6QFQCtVm8HqMe7" target="_blank">
              Econfina Creek Canoe Rentals
            </a>
          </strong><br>
          5641 Porter Pond Rd<br>
          Youngstown, FL 32466
        </p>
        <p class="mb-3">
          Phone:
          <a href="tel:+18506010157">(850) 601-0157</a><br>
          Email:
          <a href="mailto:">TBD</a>
        </p>
        <p>
          <a class="btn sec sm d-block mb-0 ms-0" href="{{ url_for('static', filename='img/canoe-econfina-map.pdf') }}" target="_blank">Download Map</a>
          <a class="btn sec sm mb-0" href="{{ url_for('static', filename='img/canoe-econfina-waiver.pdf') }}" target="_blank">Download Waiver</a>
        </p>
      </div>
      <div class="col-10 col-md-5 offset-1 offset-md-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439.8748713857844!2d-85.54732973948389!3d30.439648895943524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889374cf46792793%3A0xe4b1d5b2caac6784!2sEconfina%20Creek%20Canoe%20Rentals%20LLC!5e0!3m2!1sen!2sus!4v1695155919346!5m2!1sen!2sus"
          width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="my-3 mt-md-0">Get in touch</h1>
        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <div class="d-md-flex">
            {{ form.message(class="flex-grow-1") }}
            <div class="mt-2 mt-md-5 ms-md-2">
              {{ hcaptcha }}
            </div>
          </div>
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>

  <div id="location-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen p-5">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="modal-header">
            <span type="button" class="btn-close" data-bs-dismiss="modal">×</span>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  {{ super() }}
  
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
  </script>

  <script type="text/javascript">
    const video = document.getElementById('welcome-vid');
    const startPlayPromise = video.play();
    const vidToggle = document.querySelector('#vid-toggle');

    if (startPlayPromise !== undefined) {
      startPlayPromise
        .then()
        .catch((error) => {
          video.classList.add('d-none');
          video.pause();
          vidToggle.parentElement.classList.add('d-none');
          document.getElementById('welcome').style.backgroundImage = "linear-gradient(180deg, transparent 50%, rgb(3,32,44)), url('../static/img/home-bg-sm.webp')";
      });
    };

    function playPause (id) {
      if (video.paused)
        video.play();
      else
        video.pause();
    }

    vidToggle.onclick = function() {
      playPause('welcome-vid');
      document.getElementById('pause-play').classList.toggle('paused');
    }

    //document.addEventListener("DOMContentLoaded", checkVideo);
    video.addEventListener('ended', function() {
      document.getElementById('pause-play').classList.add('paused');
    }, false);
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
  <script type="module">
    // Review slider
    var slider = tns({
      container: '.testimonials',
      autoplay: true,
      center: true,
      //autoplayButton: false,
      autoplayHoverPause: true,
      gutter: 150,
      edgePadding: 100,
      controlsContainer: '#controls-container',
      navPosition: 'bottom',
      autoplayPosition: 'bottom',
      autoplayText: [
        "&#x23F5",
        '&#x23F8',
      ],
    });
  </script>
{% endblock end_scripts %}
