{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  
  {{ super() }}
{% endblock head %}

{% block container %}
  <div id="vid-overlay"></div>
  <video id="welcome-vid" muted autoPlay playsInline poster="{{ url_for('static', filename='img/bg.webp') }}">
    <source src="{{ url_for('static', filename='media/lay-z-owl-pexels.webm')}}" type="video/webm">
  </video>

  <div id="home-1" class="inverse text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center message {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="message">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <nav class="row justify-content-center g-0">
      <div class="col-11 col-md-10">
        <div class="row justify-content-center">
          <div class="d-none d-md-block col-md-5 col-lg-6 col-xl-7">
            <img id="home-logo" class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
          </div>
          <div class="home-nav col col-md-7 col-lg-6 col-xl-5">
            <div><a href="#vessels" data-text="book now">book now</a></div>
            <div><a href="{{ url_for('faq') }}" data-text="faq">faq</a></div>
            <div><a href="#contact" data-text="contact">contact</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        <h1 id="home-title">Canoe Econfina!</h1>
        <h3>
          <!-- Come paddle down Econfina Creek and soak in the serenity of
          its crystal-clear freshwater cold springs. We are a canoe & kayak rental business with a shuttle service and over 30 years of happy customers! -->
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-11">
        <a href="#vessels" class="btn">
          Choose your Vessel
        </a>

        <div class="home-next">
          <a href="#home-2">
            <h4 class="lead">
              Explore Econfina Creek
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col offset-1">
        <div id="vid-toggle">
          <div id="pause-play"></div>
        </div>
      </div>
    </div>

    <div id="weather-container">
      <div id="weather-tab">Weather Forecast</div>
      <!-- <a class="weatherwidget-io" href="https://forecast7.com/en/30d37n85d44/youngstown/" data-mode="Forecast" data-theme="pure" data-accent="#fafafa" data-highcolor="#fc723c" data-lowcolor="#088ea2" data-suncolor="#fc723c" data-raincolor="#088ea2" ></a> -->
      <a class="weatherwidget-io" href="https://forecast7.com/en/30d37n85d44/youngstown/?unit=us" data-label_1="Econfina Creek Weather" data-mode="Forecast" data-theme="sky" data-basecolor="#0596ac" data-accent="#088ea2" data-highcolor="#ffa011" data-lowcolor="#90f8f3" data-suncolor="#ffa011" data-cloudfill="" data-raincolor="#90f8f3" ></a>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="home-2" class="home-section inverse">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Section 2 title</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro totam
        dignissimos unde doloribus corrupti voluptatibus laudantium explicabo expedita
        nemo, aperiam praesentium, dolore iste temporibus veritatis fugit perspiciatis
        possimus quaerat?</p>
        
        <a id="video-link" class="d-flex" data-bs-toggle="modal" data-bs-target="#video-modal">
          <div id="play-video">
            <div id="play-icon"></div>
          </div>
          <div class="align-self-center ms-3">Watch the video</div>
        </a>

        <div class="row">
          <div class="col position-relative">
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                {% for r in reviews %}
                  <div class="swiper-slide">
                    <p>{{ r.message }}</p>
                    
                    <p class="text-end fw-bold ">&mdash; {{ r.name }}</p>
                  </div>
                {% endfor %}
              </div>

              <div class="swiper-pagination"></div>

              <div class="swiper-button-prev swiper-button-white"></div>
              <div class="swiper-button-next swiper-button-white"></div>
            </div>
              
          </div>
        </div>
         
        

        <div class="text-center">
          <a class="btn mb-2" href="{{ url_for('faq') }}">
            Frequently asked questions
          </a>
        </div>
        <div class="home-next">
          <a href="#vessels">
            <h4>
              Paddle with us
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="video-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen p-5">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="modal-header">
            <span type="button" class="btn-close" data-bs-dismiss="modal">×</span>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="vessels" class="home-section inverse">
    <div class="mt-4 row justify-content-center">
      <div class="col-10 col-md-11 col-lg-10">
        <div class="row justify-content-center">
          <h1 class="mb-5">Choose your vessel</h1>
            
          {% for i in vessels %}
              <div class="mb-4 col-12 col-md-6">
                <div class="item-img-div">
                  <a href="{{ url_for('vessel_selected', id=i.booqable_id) }}">
                    <img class="img-fluid m-auto m-md-0 align-self-center" src="{{ url_for('static', filename='img/items') }}/{{ i.image_path }}">
                  </a>           
                </div>
                <h3 class="mb-0 me-2 text-center text-md-start d-inline-block">{{ i.name }}</h3>
                <span>{{ i.description }}</span>
                <p class="text-center text-md-start">${{ i.price }}</p>
              </div>
          {% endfor %}
        </div>
        <div class="home-next">
          <a href="#contact">
            <h4>
              Have a question?
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row justify-content-center">
      <div class="col-10 col-md-5 col-xl-4 mb-3">

        <h1>Visit us</h1>
        <p>
          <strong>
            <a href="https://maps.app.goo.gl/CJK6QFQCtVm8HqMe7" target="_blank">
              Econfina Creek Canoe Rentals
            </a>
          </strong><br>
          5641 Porter Pond Rd<br>
          Youngstown, FL 32466
        </p>
        <p class="mb-3">
          Phone:
          <a href="tel:+18506010157">(850) 601-0157</a><br>
          Email:
          <a href="mailto:">TBD</a>
        </p>
        <p>
          <a class="btn sec sm d-block mb-0 ms-0" href="{{ url_for('static', filename='img/canoe-econfina-map.pdf') }}" target="_blank">Download Map</a>
          <a class="btn sec sm mb-0" href="{{ url_for('static', filename='img/canoe-econfina-waiver.pdf') }}" target="_blank">Download Waiver</a>
        </p>
      </div>
      <div class="col-10 col-md-5 col-xl-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439.8748713857844!2d-85.54732973948389!3d30.439648895943524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889374cf46792793%3A0xe4b1d5b2caac6784!2sEconfina%20Creek%20Canoe%20Rentals%20LLC!5e0!3m2!1sen!2sus!4v1695155919346!5m2!1sen!2sus"
          width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-xl-9">
        <h1 class="my-3">Get in touch</h1>
        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <div class="d-md-flex">
            {{ form.message(class="flex-grow-1") }}
            <div class="mt-2 mt-md-5 ms-md-2">
              {{ hcaptcha }}
            </div>
          </div>
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>

  <div id="location-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen p-5">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="modal-header">
            <span type="button" class="btn-close" data-bs-dismiss="modal">×</span>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  {{ super() }}
  
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
  </script>

  <script type="text/javascript">
    const video = document.getElementById('welcome-vid');
    const startPlayPromise = video.play();
    const vidToggle = document.querySelector('#vid-toggle');

    if (startPlayPromise !== undefined) {
      startPlayPromise
        .then()
        .catch((error) => {
          video.classList.add('d-none');
          video.pause();
          vidToggle.parentElement.classList.add('d-none');
          document.getElementById('welcome').style.backgroundImage = "linear-gradient(180deg, transparent 50%, rgb(3,32,44)), url('../static/img/home-bg-sm.webp')";
      });
    };

    function playPause (id) {
      if (video.paused)
        video.play();
      else
        video.pause();
    }

    vidToggle.onclick = function() {
      playPause('welcome-vid');
      document.getElementById('pause-play').classList.toggle('paused');
    }

    //document.addEventListener("DOMContentLoaded", checkVideo);
    video.addEventListener('ended', function() {
      document.getElementById('pause-play').classList.add('paused');
    }, false);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        pauseOnMouseEnter: true,
      },

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // // And if we need scrollbar
      // scrollbar: {
      //   el: '.swiper-scrollbar',
      // },
    });
  </script>
{% endblock end_scripts %}
